@import "material";

@primary-100: #b3e5fc;
@primary-500: #03a9f4;
@primary-700: #0288d1;

@accent-a200: #ff4081;

@black: #ffffff;
@divider: fade(@black, 12%);
@text-hint: fade(@black, 26%);
@text-secondary: fade(@black, 54%);
@text: fade(@black, 87%);

@bg: #1a1a1a;
//@bg: #ffffff;

@increment: 64px;
@appbar-height: @increment * 1;
@sidenav-width: @increment * 4;

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

// Layout
[fit] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
[layout="vertical"] {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
[layout="horizontal"] {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
[flex] {
  flex: 1;
}
[scrollable] {
  overflow: auto;
}

.container {
  overflow: hidden;
}
.sidenav {
  width: @sidenav-width;
  background: @primary-500;
}
.main {
  position: relative;
  background: @bg;
}


// headers
h1, .h1 {
  .font(display4);
}
h2, .h2 {
  .font(display3);
}
h3, .h3 {
  .font(display2);
}
h4, .h4 {
  .font(display1);
}

// partial:websocket
.partial-websocket {
  .list-item.log {
    .font(caption);
    height: 24px;
    padding: 5px;
    text-align: center;
  }
  .list .list-item.remote .primary {
    color: @accent-a200;
  }
}
